.login {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: auto;
  background-color: red;
  padding: 10px;
  gap: 1rem;
  border-radius: 10px;
  align-items: center;

  .login-form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .input-item {
      display: flex;
      flex-direction: row;
      .input{
        padding: 5px;
        border-radius: 5px;
        width:200px;
        font-size: 15px;
      }
    }
  }
}
